$white: #fff;
$black: #000;
$base-font-size: 20px;
$big-font-size: 30px;
$small-font-size: 12px;
$base-line-height: 28px;
$light-gray: #ededed;
$semi-light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #3b3b3b;
$gutter-size: 80px;
$spacing: 20px;
$standard-font: "Raleway", sans-serif;
$header-height: 0px; // sass-lint:disable-line zero-unit
$red: #f00;
$black50: rgba(0, 0, 0, .5);
$white50: rgba(255, 255, 255, .5);
