$white: #fff;
$black: #000;
$base-font-size: 20px;
$big-font-size: 30px;
$base-line-height: 28px;
$light-gray: #ededed;
$dark-gray: #3b3b3b;
$gutter-size: 100px;
$spacing: 10px;
$standard-font: "Raleway", sans-serif;
$header-height: 0px;
$red: #f00;
