@import "variables";
@import "fonts";
@import "mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: $big-font-size;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 1em;
}

p {
  line-height: $base-line-height;

  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.appear {
  opacity: 0;
  transition: 900ms opacity ease-in-out, 900ms transform ease-in-out;

  &.appearing,
  &.appeared {
    opacity: 1;
  }
}

img {
  &.lazy {
    opacity: 0;
    transition: 900ms opacity ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }
}

button {
  background-color: $dark-gray;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: transform 900ms 500ms ease-in-out, opacity 900ms 500ms ease-in-out;
}

.progressbar {
  border-radius: 3px;
  background-color: #333;
  color: white;
  padding: .25em .5em;
  margin-bottom: .5em;
  position: relative;
  overflow: hidden;
  border: 1px solid #333;
  transition: 900ms opacity ease-in-out, 100ms transform ease-in-out;

  &:hover {
    transform: translateX(5px);
  }

  label {
    position: relative;
    z-index: 1;
  }

  span {
    position: absolute;
    right: 0;
    background: repeating-linear-gradient(
      -45deg,
      $light-gray,
      $light-gray .5em,
      $semi-light-gray .5em,
      $semi-light-gray 1em
    );
    height: 100%;
    top: 0;
    transition: width 1000ms ease-in-out, max-width 1000ms ease-in-out;
    width: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: $black;
  font-size: $base-font-size;
  font-family: $standard-font;
  padding-top: $header-height;

  > footer {
    padding: $spacing 0;
  }

  > main,
  > footer {
    max-width: 1000px;
    margin: 0 auto;
  }

  > footer {
    > * {
      padding-top: $spacing;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      border-top: 1px solid #ddd;
      margin-bottom: $gutter-size / 2;

      a {
        color: #aaa;
      }

      .logos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0;

        a {
          margin-left: $spacing / 2;
        }

        img {
          height: 30px;
        }
      }
    }
  }

  > main {
    position: relative;
  }

  > main section {
    margin-right: 100px;
  }

  .timeline {
    width: 100px;
    height: 1500px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    background-color: #fff;
    user-select: none;
    cursor: default;

    &::after,
    &::before {
      content: " ";
      height: 45px;
      width: 100%;
      position: absolute;
      left: 0;
      z-index: 1;
    }

    &::before {
      background-image: linear-gradient(to bottom,
        $white, transparent);
      top: 0;
    }

    &::after {
      background-image: linear-gradient(to top,
        $white, transparent);
      bottom: 0;
    }

    ul {
      list-style: none;
      text-align: center;
      transition: 400ms transform ease-out;
      padding: 30px 0;

      li {
        position: relative;

        &:not(:last-child) {
          &::after {
            content: " ";
            width: 4px;
            height: 38px;
            background-color: $light-gray;
            display: block;
            margin: 4px auto 4px 48%;
          }
        }

        a {
          position: absolute;
          width: 100%;
          left: 0;
          top: 50%;
          background-color: $white50;
          opacity: .7;
          cursor: pointer;

          img {
            width: 27px;
          }
        }
      }
    }
  }

  header {
    text-align: right;
    padding: $gutter-size / 2 0;
    flex-direction: row !important;

    > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 $spacing;
    }

    h1 {
      font-size: 60px;
      margin: 0;
    }

    img {
      transform: scaleX(-1);
      width: 25vw;
      border-radius: 100%;
    }
  }

  section,
  footer {
    padding: $spacing;
  }

  header,
  section {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: $gutter-size;

    &.row-major {
      flex-direction: row;
    }

    &:nth-child(odd) {
      // background-color: $light-gray;
    }

    p {
      &:first-child {
        &::first-letter {
          float: left;
          font-size: 3.2em;
          line-height: 1em;
          margin-right: .03em;
          font-family: Georgia;
          margin-top: .1em;
        }
      }
    }

    &.skills {
      overflow: visible;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      > * {
        flex: 1;

        &:not(:last-child) {
          margin-right: $spacing;
          padding-bottom: $spacing;
        }
      }
    }

    &.projects {
      overflow: visible;
    }
  }
}

.modal {
  position: fixed;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: translate3d(-100vw, -50%, 0);
  padding: $spacing;
  z-index: 1;
  top: 50%;
  left: 50%;
  outline: solid 100vmax rgba(255, 255, 255, .9);
  background-color: #fff;
  border: 1px solid #eee;
  opacity: 0;

  &.visible {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
}

.projects {
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    figure {
      flex-basis: calc(100% / 3 - 15px);
      border: 1px solid #bbb;
      background-size: cover;
      background-position: center;
      margin-bottom: $spacing;
      position: relative;
      box-shadow: 0 1em 1em rgba(0, 0, 0, .2);

      @media screen and (max-width: 768px) {
        flex-basis: calc(100% / 2 - 15px);
      }

      @media screen and (max-width: 550px) {
        flex-basis: 100%;
      }

      &::before {
        content: " ";
        display: block;
        padding-top: 100%;
      }

      figcaption {
        background-color: rgba(255, 255, 255, .8);
        height: 3.8em;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        line-height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
          margin: 0;
          font-size: 1em;
        }

        p {
          font-size: .8em;
        }
      }
    }
  }
}
